body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

.wrapper{
  background-image: url("backimage.png");
}

.header{
  height: 100px;
  background-color: #8EB8FF;
  position: fixed;
  top: 0px;
  width: 100%;
}

.user{
  height: 55px;
  width: 250px;
  border: solid 1px;
  float: right;
  margin-top: 30px;
  display: flex;
  display: table;
}

ul{
  list-style: none;
  display: table-cell;
  vertical-align: middle;
}

.nav-link{
  text-decoration: none;
}

.user_photo{
  height: 100%;
  width: 50px;
  display: table-cell;
  vertical-align: middle;
}

.contents{
  margin-top: 100px;
}

.main{
  width: 800px;
  background-color: #ffffff;
  margin: 100px auto;
  padding: 100px auto;
}

.photo_box{
  display: flex;
  justify-content: center;
}

.photo{
  height: 200px;
  width: 200px;
  border: solid 1px;
}

.link{
  width: 400px;
  display: flex;
  text-decoration: none;
  color: #000000;
}
.messages{
  height: 100%;
  width: 300px;
  background-color: #D9E5FF;
}

.group{
  height: 50px;
  border: solid 1px;
}

.message{
  width: 300px;
  height: 80px;
  height: calc(100% - 150px);
}

.their_message{
  margin: 10px;
}
.my_message{
  float: right;
  margin: 10px;
}

.form{
  border: solid 1px;
  height: 100px;
}

.upper-box{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.parents{
  height: 200px;
  width: 200px;
  border: solid 1px;
}

.under-box{
  height: 200px;
  width: 200px;
  border: solid 1px;
  margin: 150px auto;
}