body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

.wrapper{
  background-image: url("backimage.png");
}

.header{
  height: 100px;
  position: fixed;
  top: 0px;
  width: 100%;
  background-image: url("header.png");
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.logo{
  height: 100px;
  width: 250px;
  background-image: url("image.png");
  background-size: cover;
  margin-left: 50px;
}

.user-box{
  text-align: center;
  margin-top: 10px;
}

.user{
  margin: 0 50px 0 0;
  display: table;
  font-size: 18px;
  display: flex;
}

ul{
  list-style: none;
  display: flex;
}

.nav-link{
  text-decoration: none;
  font-weight: bold;
  margin-right: 30px;
  text-decoration: none;
  color: #000000;
}

.nav-link-user{
  text-decoration: none;
  font-weight: bold;
  margin-right: 30px;
  text-decoration: none;
  color: #333;
}

.fas{
  font-size: 30px;
}

.user_photo{
  height: 100px;
  width: 100px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 100px;
  margin-left: 50px;
}

.contents{
  margin-top: 100px;
}


.box{
  display: flex;
  margin: 100px auto;
}

.main{
  width: 800px;
  background-color: #ffffff;
  margin: 100px auto;
  padding: 100px auto;
  text-align: center;
}

.main-list{
  width: 800px;
  background-color: #ffffff;
  margin: 100px auto;
  padding: 100px auto;
  text-align: center;
}

.main-message{
  width: 800px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 100px auto;
  text-align: center;
}

.photo{
  height: 250px;
  width: 250px;
  border: solid 1px;
}

.message-box{
  display: flex;
}

.left-box{
  width: 300px;
  height: 100vh;
  background-color: #dddddd;
}

.right-box{
  width: 500px;
  height: 100vh;
  position: relative;
}

.message-main{
  margin: 100px auto;
  height: 100vh;
}

.message-form{
  height: 100px;
  width: 100%;
  background-color: #f0f0f0;
  position: absolute;
  bottom: 0;
}

.upper-box{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-top: 200px;
}

.lower-box{
  height: 300px;
  padding-top: 150px;
}

.parents{
  height: 200px;
  width: 200px;
  border: solid 1px;
}

.mask2 {
	width:			250px;
	height:			250px;
	overflow:		hidden;
  position:		relative;
  display: inline-block;
}
.mask2 .caption {
	font-size:		16px;
	text-align: 		center;
	color:			#fff;
}
.mask2 .mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;
}
.mask2:hover .mask {
	opacity:		1;	/* マスクを表示する */
	padding-top:		30px;	/* ホバーで下にずらす */
}