body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

.wrapper{
  background-image: url("backimage.png");
}

.header{
  height: 100px;
  position: fixed;
  top: 0px;
  width: 100%;
  background-image: url("header.png");
  display: flex;
  justify-content: space-between;
}

.logo{
  height: 100px;
  width: 250px;
  background-image: url("image.png");
  background-size: cover;
  margin-left: 50px;
}

.user{
  height: 100px;
  width: 400px;
  margin: 0 50px 0 0;
  display: table;
  font-size: 18px;
}

ul{
  list-style: none;
  display: table-cell;
  vertical-align: middle;
}

.nav-link{
  text-decoration: none;
  font-weight: bold;
}

.user_photo{
  height: 100px;
  width: 100px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 100px;
  margin-left: 50px;
}

.contents{
  margin-top: 100px;
}


.box{
  display: flex;
  margin: 100px auto;
}

.main{
  width: 800px;
  background-color: #ffffff;
  margin: 100px auto;
  padding: 100px auto;
  text-align: center;
  text-align: center;
}

.photo{
  height: 250px;
  width: 250px;
  border: solid 1px;
}

.messages{
  height: 100%;
  width: 300px;
  background-color: #D9E5FF;
}

.group{
  height: 50px;
  border: solid 1px;
}

.message{
  width: 300px;
  height: 80px;
  height: calc(100% - 150px);
}

.their_message{
  margin: 10px;
}
.my_message{
  float: right;
  margin: 10px;
}

.form{
  border: solid 1px;
  height: 100px;
}

.upper-box{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-top: 200px;
}

.lower-box{
  height: 300px;
  padding-top: 150px;
}

.parents{
  height: 200px;
  width: 200px;
  border: solid 1px;
}

.fadeout {
  animation : fadeOut 1s;
  animation-fill-mode: both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}