{% load static %}

<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/myhp.css' %}">
    <title>個人アプリ</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <a class="nav-link" href="{% url 'myhp:index' %}">
          <div class="logo"></div>
        </a>
        <div class="user">
          {% if user.is_authenticated %}
          <img src="/media/{{ user.userinfo.origin }}" class="user_photo"/>
          <ul>
            <li><a class="nav-link">USER：{{ user.username }}</a></li>
            <li>
              <a class="nav-link" href="{% url 'match:logout' %}">
                <i class="fas fa-sign-out-alt"></i>ログアウト</a>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
      <div class="main">
          {% block user_list %}
          <!-- content -->
          {% endblock %}
          {% block synthetic_form %}
          <!-- content -->
          {% endblock %}
          {% block create_form %}
          <!-- content -->
          {% endblock %}
      </div>
        <!-- <div class ="messages">チャットフォーム
          <div class ="group">グループ情報</div>
          <div class ="message">
            <div class="their_message">相手のメッセージ</div>
            <div class="my_message">自分のメッセージ</div>
          </div>
          <div class ="form"></div>
        </div> -->
        <!-- </div> -->
    </div>
  </body>
</html>