{% extends './main.html' %}
{% block synthetic_form %}
<div class="main">
  <div class ="upper-box">
    <img src="{{ images.origin.url }}" style="height: 300px; width: 300px;"/>
    {% if user.is_authenticated %}
    <img src="/media/{{ user.userinfo.origin }}" style="height: 300px; width: 300px;"/>
    {% endif %}
  </div>
  <div class ="lower-box">
    <form action="create" method="get">
      <input type="submit" value="mosaic" style="width:100px; font-size: 500px;">
    </form>
  </div>
</div>
{% endblock synthetic_form %}
